# top level files
include *.rst
include *.txt

# package extras
include vcsserver/VERSION

# all config files
recursive-include configs *

# hook templates
recursive-include vcsserver/hook_utils/hook_templates *

# skip any tests files
recursive-exclude vcsserver/tests *

